<div class="well" id="post_form">  
  <%= form_for(@post, remote: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.submit "Post a thought", class: "btn btn-large btn-success" %>
    <span><%= f.text_area :content, class: "span8", placeholder: "your thought..." %></span>
    <%= f.file_field :image %>
  <% end %>
</div>