<div id="post_form">
  <div class="panel-post fade in">
    <%= form_for(@post, remote: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_area :content, class: "form-control", rows: "3", placeholder: "your thought..." %>
      <div class="col-md-3" id="submit"><%= f.submit "Post a thought", class: "btn btn-lg btn-post" %></div>
      <%= render 'shared/image_fields', f: f %>
    <% end %>
  </div>
</div>