<div id="post_form">
  <div class="panel-focus">
    <div class="panel-focus panel-post">
      <%= form_for(@post) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_area :content, class: "form-control", rows: "5", placeholder: "your thought..." %>
        <%= f.submit "Post", class: "btn btn-primary" %>
        <%= f.hidden_field :image %>
      <% end %>
      <span class="pull-right"><%= render 'shared/image_fields' %></span>
    </div>
  </div>
</div>