<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= message.id %>">
          <% if message.user == current_user || message.viewed? %>
            <%= user_display(message) %>
          <% else %>
            <div class="strong"><%= "From: #{message.user.username}" %></div>
          <% end %>
        </a>
      </h4>
    </div>
    <div id="collapse_<%= message.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <%= message.content %>
        <% if current_user == message.receiver %>
          <div id="message_toggle">
            <a href="#" data-toggle="modal" data-target="#messagemodal_<%= message.id %>">Reply</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Reply Modal -->
<div class="modal fade" id="messagemodal_<%= message.id %>" tabindex="-1" role="dialog" aria-labelledby="replyToUser"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="replyToUser">Reply to <%= message.user.username %></h3>
      </div>
      <div class="modal-body">
        <strong><%= message.user.username %> wrote:</strong>
        <p><%= message.content %></p>
        <%= form_for @reply do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_area :content, class: "form-control", rows: "5", placeholder: "your reply..." %>
          <%= f.hidden_field :receiver_id, value: message.user.id %>
          <%= f.submit "Send", class: "btn btn-primary pull-left", id: "send_button" %>
        <% end %>
        <button class="btn btn-default pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>