<% provide(:page_title, "Messages") %>

<div class="row-fluid">
  <div class="span2 center">
    <%= link_to "Return to profile page", user_path(current_user) %>
  </div>
  <div class="span8">
    <div class="well darker" id="message">
      <div><%= user_display(@message) %></div>
      <br />
      <p><%= @message.content %></p>
    </div>
    <% if current_user == @message.receiver %>
      <div id="note_toggle">
        <a href="#" data-toggle="modal" data-target="#notemodal">Reply</a>
      </div>
    <% end %>
  </div>
</div>


<!-- Modal -->
<div id="notemodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="note"
     aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Reply to <%= @message.user.username %></h3>
  </div>
  <div class="modal-body">
    <p><%= @message.user.username %> wrote:</p>
    <p><%= @message.content %></p>
    <%= form_for(@reply, remote: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_area :content, placeholder: "your reply..." %>
      <%= f.hidden_field :receiver_id, value: @message.user.id %>
      <legend></legend>
      <%= f.submit "Send", class: "btn btn-primary pull-left", id: "send_button" %>
    <% end %>
    <button class="btn pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>