<h1>Reset Password</h1>
<div class="row">
  <div class="col-md-6 col-md-offset5">
    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions"><%= f.submit "Update Password", class: "btn btn-large btn-success" %></div>
    <% end %>
  </div>
</div>