<% if post.instance_of?(Post) && post.responses.any? %>
  <div class="post_content">
    <%= link_to "#{wrap(post.content)}", post_responses_path(post) %>
  </div>
  <% post.responses.each do |response| %>
    <div class="post_response">    
      <div class="timestamp pull-right">
        <%= username(response) %> responded <%= date_time(response) %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="post_content"><%= wrap(post.content) %></div>
  <div class="post_response">
    <div class="timestamp pull-right">posted <%= date_time(post) %></div>
  </div>
<% end %>
