<% if post.instance_of?(Post) && post.responses.any? %>
  <div class="post_content">
    <% if post.followers.include?(@user) %>
      <i class="icon-share-alt"></i>
    <% end %>
    <%= image_tag post.image_url(:thumb) unless post.image.nil? %>
    <%= link_to "#{wrapped(post.content)}", post_path(post) unless post.content.nil? %>
  </div>  

  <% post.responses.each do |response| %>
    <div class="post_response">
      <div class="timestamp pull-right">
        <% if response.ratings.where(user_id: @user.id).empty? %>
          <strong><%= username(response.user) %> responded <%= date_time(response) %></strong>
        <% else %>
          <%= username(response.user) %> responded <%= date_time(response) %>
        <% end %>
      </div>
    </div>
  <% end %>

<% else %>
  <div class="post_content">
    <%= image_tag post.image_url(:thumb) unless post.image.nil? %>
    <%= wrap(post.content) unless post.content.nil? %>
  </div>
  <div class="post_response">
    <div class="timestamp pull-right">posted <%= date_time(post) %></div>
  </div>
<% end %>
