<% provide(:page_title, @user.username) %>
<div class="row">
  <%= render 'shared/user_info', user: @user %>

  <div class="span4 offset3">
    <h3 class="counts" id="post_count">Posts <%= "(#{@user.posts.count})" if current_user?(@user) %></h3>
    <ol class="posts" id="answered_posts">
      <%= render partial: 'users/profile_partials/answered_post', collection: @answered_posts %>
    </ol>
    <ol class="posts" id="personal_posts">
      <%= render partial: 'users/profile_partials/personal_post', collection: @personal_posts if current_user?(@user) %>
    </ol>
  </div>

  <div class="span4 offset2">
    <h3 class="counts" id="response_count">Responses <%= "(#{@responses.count})" if current_user?(@user) %></h3>
    <ol class="posts" id="profile_response">
      <%= render partial: 'users/profile_partials/response', collection: @responses %>
    </ol>
  </div>

  <% if current_user.id == @user.id %>
    <div class="span3">
      <% if current_user.messages.any? %>
        <h3 id="messages">Notes sent</h3>
        <% current_user.messages.each do |msg| %>
          <li>
            <p>To: <%= User.find(msg.to_id).username %></p>
            <p><%= msg.content %></p>
          </li>
        <% end %>
      <% end %>
      <% if current_user.received_messages.any? %>
        <h3 id="messages">Notes received</h3>
        <% current_user.received_messages.each do |msg| %>
          <li>
            <p>From: <%= User.find(msg.user_id).username %></p>
            <p><%= msg.content %></p>
          </li>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>