<% provide(:page_title, @user.username) %>
<div class="row">
  <%= render 'shared/user_info', user: @user %>

  <div class="span4 offset3">
    <% if @user.posts.any? %>
      <h3 id="post_count">Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts" id="posts">
        <% @user.posts.each do |post| %>
          <li>
            <%= post.content %>
            <div class="timestamp"><%= post.created_at %></div>
          </li>
        <% end %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>