<% provide(:page_title, @user.username) %>
<div class="row">
  <%= render 'shared/user_info', user: @user %>

  <!-- Messages -->
  <% if current_user?(@user) %>
    <div class="span3" id="notes">
      <ul class="profile">
        <h4>Notes sent</h4>
        <% if current_user.messages.each do |msg| %>
          <li>
            <p>To: <%= User.find(msg.to_id).username %></p>
            <p><%= msg.content %></p>
          </li>
        <% end.empty? %>
          <p class="center lighten">You have no sent notes</p>
        <% end %>
      </ul>
      <ul class="profile">
        <h4>Notes received</h4>
        <% if current_user.received_messages.each do |msg| %>
          <li>
            <p>From: <%= User.find(msg.user_id).username %></p>
            <p><%= msg.content %></p>
          </li>
        <% end.empty? %>
          <p class="center lighten">You have no received notes</p>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Posts -->
  <div class="span5">
    <h4>Posts <%= "(#{@user.posts.count})" if current_user?(@user) %></h4>
    <ul class="profile" id="answered_posts">
      <% if answered_posts(@user).each do |post| %>
        <li>
          <%= render partial: 'shared/thought', object: post %>
          <div class="thought_response">
            <%= render partial: 'shared/thought', collection: post.responses %>
          </div>
        </li>
      <% end.empty? %>
        <p class="center lighten">There are no answered thoughts</p>
      <% end %>
    </ul>

    <% if current_user?(@user) %>
      <ul class="profile" id="personal_posts">
        <% if personal_posts(@user).each do |post| %>
          <li>
            <%= render partial: 'shared/thought', object: post %>
          </li>
        <% end.empty? %>
          <p class="center lighten">There are no unanswered thoughts</p>
        <% end %>
      </ul>
    <% end %>
  </div>

  <!-- Responses -->
  <div class="span5 offset1">
    <h4>Responses <%= "(#{@user.responses.count})" if current_user?(@user) %></h4>
    <ul class="profile" id="responses">
      <% if responses(@user).each do |response| %>
        <li>
          <%= render partial: 'shared/thought', object: response.post %>
          <div class="thought_response">
            <%= render partial: 'shared/thought', object: response %>
          </div>
        </li>
      <% end.empty? %>
        <p class="center lighten">There are no responses</p>
      <% end %>
    </ul>
  </div>
</div>