<% provide(:page_title, @user.username) %>
<div class="row">
  <%= render 'shared/user_info', user: @user %>

  <!-- Messages -->
    <div class="span3" id="notes">
      <% if current_user?(@user) %>
        <%= render 'message' %>
      <% end %>
    </div>

  <!-- Posted thoughts -->
  <div class="span5">
    <h4>Posted thoughts <%= "(#{@user.posts.count})" if current_user?(@user) %></h4>
    <%= render partial: 'profile_thought', object: answered_posts(@user), locals: {:message=>"answered posts"} %>
    <% if current_user?(@user) %>
      <%= render partial: 'profile_thought', object: personal_posts(@user), locals: {:message=>"unanswered posts"} %>
    <% end %>
  </div>

  <!-- Thoughts responded to -->
  <div class="span5 offset1">
    <h4>Thoughts responded to <%= "(#{@user.responses.count})" if current_user?(@user) %></h4>
    <ul class="profile">
      <% if responses(@user).each do |response| %>
        <li><%= render partial: 'post', object: response.post %></li>
      <% end.empty? %>
        <p class="center lighter">There are no responses</p>
      <% end %>
    </ul>
  </div>
</div>