<% provide(:page_title, @user.username) %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well" id="profile">
      <h1>
        <%= gravatar_for(@user, size: 55) %>
        <%= @user.username %>
        <small> | <%= @user.score %></small>
      </h1>

      <% if current_user?(@user) %>
        <div class="user_stats center">
          <span>
            <div class="btn btn-default">
              <%= link_to "Messages", user_messages_path(@user) %>
              <% if @user.received_messages.unread.empty? %>
                <i class="fa fa-envelope"></i>
              <% else %>
                <span class="badge"><%= @user.received_messages.unread.size %></span>
              <% end %>
            </div>
          </span>
          <span>
            <%= render "profile_stats" %>
          </span>
          <span>
            <div class="btn btn-default">
              <%= link_to "Settings", edit_user_path(@user) %> <i class="fa fa-cog"></i>
            </div>
          </span>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="public_posts">
            <% if @public_posts.empty? %>
              <h3 class="empty">no answered thoughts or responses</h3>
            <% else %>
              <h2>Answered thoughts and responses</h2>
              <% @public_posts.each do |post| %>
                <% if post.user == @user %>
                  <div id="profile_post">
                    <div class="panel-focus" id="<%= unrated(post) if signed_in? && @user.id == current_user.id %>">
                      <div class="panel-post">
                        <% if post.ratings.any? && current_user?(@user) %>
                          <span class="badge">rated: <%= average_rating(post) %></span>
                        <% end %>
                        <%= render partial: 'posts/index_post', object: post %>
                      </div>
                    </div>
                  </div>
                <% end %>
            
                <% post.responses.descending.each do |response| %>
                  <% if response.user == @user %>
                    <div class="thought_wrapper" id="profile_response">
                      <div class="panel-focus" id="<%= unrated(post) if signed_in? && @user.id == current_user.id %>">
                        <div class="panel-response">
                          <% if response.ratings.any? && current_user?(@user) %>
                            <span class="badge">rated: <%= average_rating(response) %></span>
                          <% end %>
                          <%= render partial: 'shared/thought', object: response, locals: { profile: true } %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <%= will_paginate @public_posts %>
            </div>
          <% end %>

          <% if current_user?(@user) %>
            <div class="personal_posts">
              <% if @personal_posts.empty? %>
                <h3 class="empty">no unanswered thoughts</h3>
              <% else %>
                <h2>Unanswered thoughts</h2>
                <% @personal_posts.each do |post| %>
                  <div class="thought_wrapper">
                    <div class="panel-focus">
                      <div class="panel-post">
                        <%= render partial: 'shared/thought', object: post, locals: { profile: true } %>
                      </div>
                    </div>
                  </div>
                <% end %>
                <%= will_paginate @personal_posts %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
