<% provide(:page_title, @user.username) %>
<div class="row">
  <%= render 'shared/user_info', user: @user %>

  <div class="span4 offset3">
    <% if @user.posts.any? %>
      <h3 id="post_count">Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts" id="posts">
        <% @user.posts.each do |post| %>
          <li>
            <%= post.content %>
            <div class="timestamp"><%= post.created_at %></div>
          </li>
        <% end %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>

  <div class="span4 offset1">
    <% if @user.responses.any? %>
      <h3 id="post_count">Responses (<%= @user.responses.count %>)</h3>
      <ol class="posts" id="posts">
        <% @user.responses.each do |response| %>
          <li>
            <p class="lighten"><%= response.post.content %></p>
            <%= response.content %>
            <div class="timestamp"><%= response.created_at %></div>
          </li>
        <% end %>
      </ol>
      <%= will_paginate @responses %>
    <% end %>
  </div>
</div>