<% provide(:page_title, @user.username) %>
<div class="row">
  <%= render 'shared/user_info', user: @user %>

  <!-- Messages -->
    <div class="span3" id="notes">
      <% if current_user?(@user) %>
        <%= render 'message' %>
      <% end %>
    </div>

  <!-- Posted thoughts -->
  <div class="span5">
    <h4 class="center">Posted thoughts <%= "(#{@user.posts.count})" if current_user?(@user) %></h4>
    <%= render partial: 'profile_thought', object: answered_posts(@user), locals: {:message=>"answered thoughts"} %>
    <% if current_user?(@user) %>
      <div id="personal_posts">
        <%= render partial: 'profile_thought', object: personal_posts(@user), 
                                               locals: {:message=>"unanswered thoughts"} %>
      </div>
    <% end %>
  </div>

  <!-- Thoughts responded to -->
  <div class="span5 offset1">
    <h4 class="center">Thoughts responded to <%= "(#{@user.responses.count})" if current_user?(@user) %></h4>
    <%= render partial: 'profile_thought', object: unique_posts(@user), locals: {:message=>"responses"} %>
  </div>
</div>