<div class="thought" id="<%= thought.id %>">
  <% profile = false unless local_assigns.has_key? :profile %>

  <div class="thought_content">
    <% if profile %>
      <% if thought.instance_of?(Response) %>
        <%= render partial: 'shared/thumb', object: thought %>
        <%= link_to wrapped(thought.content, 200), post_path(thought.post) unless thought.content.nil? %>
      <% else %>
        <%= render partial: 'shared/thumb', object: thought %>
        <%= link_to wrapped(thought.content, 200), post_path(thought) unless thought.content.nil? %>
      <% end %>
    <% else %>
      <% if thought.image.present? %>
        <% if thought.image_processed? %>
          <%= image_tag thought.image_url, class: "img-responsive" %>
        <% else %>
          <em>Processing...</em>
        <% end %>
      <% end %>
      <%= custom_format(thought.content) unless thought.content.nil? %>
    <% end %>
  </div>

  <div class="thought_author">
    <% unless profile %>
      <%= link_to "#{thought.user.username}", user_path(thought.user) %>
      <span class="user_score"> | <%= thought.user.score %></span>
    <% end %>
    <span class="timestamp pull-right"><%= created_time(thought) %></span>
  </div>
</div>