<div class="thought" id="<%= thought.id %>">
  <% wrapped = false unless local_assigns.has_key? :wrapped %>
  <% link = false unless local_assigns.has_key? :link %>

  <% if wrapped %>
    <div class="wrapped_thought_content">
      <% if link %>
        <%= link_to "#{image_tag thought.image_url(:thumb)}", thought if thought.image.present? %>
        <%= link_to "#{wrapped(thought.content)}", thought unless thought.content.nil? %>
      <% else %>
        <%= image_tag thought.image_url(:thumb) if thought.image.present? %>
        <%= wrapped(thought.content) unless thought.content.nil? %>
      <% end %>
    </div>
  <% else %>
    <div class="thought_content">
      <%= image_tag thought.image_url if thought.image.present? %>
      <%= wrap(thought.content) unless thought.content.nil? %>
    </div>
  <% end %>

  <div class="thought_author">
    <%= link_to "#{thought.user.username}", user_path(thought.user) %>
    <span class="lighter"> | <%= thought.user.score %></span>
    <span class="timestamp pull-right"><%= date_time(thought) %></span>
  </div>
</div>