<aside class="span3" id="user_info">
  <section>
    <h1>
      <%= gravatar_for user, size: 55 %>
      <%= user.username %>
    </h1>

    <% if controller_name == 'static_pages' %>
      <span>
        <%= link_to "view my profile", user %>
      </span>
      <span id="post_count">
        <%= pluralize(user.posts.count, "post") %>
        | <%= pluralize(user.responses.count, "response") %>
      </span>
      <div id="notification_area">
        <% unless current_user.received_messages.unread.empty? %>
          <strong><%= link_to "You have #{pluralize(current_user.received_messages.unread.count, 'unread message')}",
           user_path(user) %></strong>
        <% end %>
        <div><strong><%= unrated_responses(user) %></strong></div>
      </div>
    <% end %>

    <% if controller_name == 'users' && action_name == 'show' %>
      <span>
        <%= link_to "edit settings", edit_user_path(user) if current_user.id == user.id %>
      </span>
      <span class="lighter">
        Karma: <%= user.score %>
      </span>
    <% end %>

    <% if controller_name == 'users' && action_name == 'edit' %>
      <span>
        <%= link_to 'change', "http://gravatar.com/emails", target: "_blank" %>
      </span>
    <% end %>
  </section>
</aside>