<aside class="span3" id="user_info">
  <section>
    <h1>
      <%= gravatar_for user, size: 55 %>
      <%= user.username %>
    </h1>

    <% if controller_name == 'static_pages' %>
      <span>
        <%= link_to "view my profile", user %>
      </span>
      <span id="post_count">
        <%= pluralize(user.posts.count, "post") %>
        | <%= pluralize(user.responses.count, "response") %>
      </span>
    <% end %>

    <% if controller_name == 'users' && action_name == 'show' %>
      <span>
        <%= link_to "edit settings", edit_user_path(user) if current_user.id == user.id %>
      </span>
      <span class="lighter">
        Karma: <%= user.score %>
      </span>
    <% end %>

    <% if controller_name == 'users' && action_name == 'edit' %>
      <span>
        <%= link_to 'change', "http://gravatar.com/emails", target: "_blank" %>
      </span>
    <% end %>
  </section>
</aside>