<aside>
  <section>
    <%= link_to gravatar_for(user, size: 55), user %>
    <h3>
      <%= link_to user.username, user %>
    </h3>

    <% if controller_name == 'static_pages' %>
      <span>
        <%= link_to "view my profile", user %>
      </span>
      <span id="post_count">
        <%= pluralize(user.posts.count, "post") %>
        | <%= pluralize(user.responses.count, "response") %>
      </span>
      <div id="notification_area">
        <div><strong><%= unread_messages(user) %></strong></div>
        <div><strong><%= unrated_responses(user) %></strong></div>
      </div>
    <% end %>

    <% if controller_name == 'users' %>
      <% if action_name == 'show' %>
        <span>
          <%= link_to "edit settings", edit_user_path(user) if current_user == user %>
        </span>
        <span class="lighter">
          Karma: <%= user.score %>
        </span>
      <% elsif action_name == 'edit' %>
        <span>
          <%= link_to 'change image', "http://gravatar.com/emails", target: "_blank" %>
        </span>
      <% elsif action_name == 'index' %>
        <span class="lighter">
          Karma: <%= user.score %>
        </span>
        <span>
          <% if current_user.admin? && !current_user?(user) %>
            | <%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </span>
      <% end %>
    <% end %>
  </section>
</aside>