<aside class="span4" id="user_info">
  <section>
    <%= link_to gravatar_for(current_user, size: 55), current_user %>
    <h1>
      <%= current_user.username %>
    </h1>
    <span>
      <%= link_to "view my profile", current_user %>
    </span>
    <span id="post_count">
      <%= pluralize(current_user.posts.count, "post") %>
    </span>
  </section>
  <section>
    <%= link_to "Respond to a thought", new_response_path %>
  </section>
</aside>