<li>
  <%= answered_post.content %>
  <div class="timestamp"><%= date_time(answered_post) %></div>
  <% answered_post.responses.each do |response| %>
    <li>
      <%= response.content %>
      <div>
        <span><%= link_to "#{username(response)}", user_path(response.user) %></span>
        <span class="timestamp">| <%= date_time(response) %></span>
      </div>
    </li>
  <% end %>
  <hr/>
</li>