<li>
  <div class="darker" id="response_post">
    <div>
      <%= wrap(response.post.content) %>
    </div>
    <div id="thought_author">
      <%= link_to "#{response.post.user.username}", user_path(response.post.user) %>
    </div>
  </div>
  <div id="response">
    <div>
      <%= wrap(response.content) %>
    </div>
    <div id="thought_author">
      <%= link_to "#{response.user.username}", user_path(response.user) %>
      <span class="timestamp">| <%= date_time(response) %></span>
    </div>
  </div>
</li>