<% if !@rateable.ratings.empty? && @rateable.raters.include?(current_user) %>
  <div>
    <p class="center">You rated this article: <%= current_user_rating %></p>
  </div>
<% else %>
  <div id="rating_form">
    <span>
      <%= form_for(@rating, remote: true) do |f| %>
        <%= f.hidden_field(:rateable_type, :value => params[:controller].classify) %>
        <%= f.hidden_field(:rateable_id, :value => params[:id]) %>
        <%= f.hidden_field(:value, :value => '1') %>
        <%= f.submit "uninteresting", class: "btn btn-inverse" %>
      <% end %>
    </span>
    <span>
      <%= form_for(@rating, remote: true) do |f| %>
        <%= f.hidden_field(:rateable_type, :value => params[:controller].classify) %>
        <%= f.hidden_field(:rateable_id, :value => params[:id]) %>
        <%= f.hidden_field(:value, :value => '2') %>
        <%= f.submit "average", class: "btn btn-inverse" %>
      <% end %>
    </span>
    <span>
      <%= form_for(@rating, remote: true) do |f| %>
        <%= f.hidden_field(:rateable_type, :value => params[:controller].classify) %>
        <%= f.hidden_field(:rateable_id, :value => params[:id]) %>
        <%= f.hidden_field(:value, :value => '3') %>
        <%= f.submit "thought provoking", class: "btn btn-inverse" %>
      <% end %>
    </span>
    <span>
      <%= form_for(@rating, remote: true) do |f| %>
        <%= f.hidden_field(:rateable_type, :value => params[:controller].classify) %>
        <%= f.hidden_field(:rateable_id, :value => params[:id]) %>
        <%= f.hidden_field(:value, :value => '4') %>
        <%= f.submit "brilliant!", class: "btn btn-inverse" %>
      <% end %>
    </span>
  </div>
<% end %>