<%= render 'ratings/rating' %>
<p id="message_toggle">
  Great thought? <a href="#" data-toggle="modal" data-target="#messagemodal">Send a message</a> to the author or share it.
</p>
<%= render 'shared/social_links' %>


<!-- Modal -->
<div class="modal fade" id="messagemodal" tabindex="-1" role="dialog" aria-labelledby="messageToUser"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="messageToUser">Message to <%= @rateable.user.username %></h3>
      </div>
      <div class="modal-body">
        <strong><%= @rateable.user.username %> wrote:</strong>
        <p><%= @rateable.content %></p>
        <%= form_for(@message, remote: true) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_area :content, class: "form-control", rows: "5", placeholder: "your message..." %>
          <%= f.hidden_field :receiver_id, value: @rateable.user.id %>
          <%= f.submit "Send", class: "btn btn-primary pull-left", id: "send_button" %>
        <% end %>
        <button class="btn btn-default pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>