<div id="response">
  <%= form_for Response.new do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, placeholder: "your response..." %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit "Respond", class: "btn btn-large btn-success pull-right" %>
  <% end %>
</div>