<li id="link_<%= response.id %>">
  <p class="post">
    <span class="content"><%= wrap(response.post.content) %></span>
    <span class="user"><%= response.post.user.username %></span>
    <span class="timestamp">| <%= date_time(response) %></span>
  </p>
  <p class="response">
    <span class="content"><%= link_to "#{wrapped(response.content)}", response_path(response) %></span>
    <span class="user"><%= response.user.username %></span>
    <span class="timestamp">| <%= date_time(response) %></span><br />
    <% if current_user.admin? %>
      <%= link_to "delete", response, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </p>
</li>
