<li id="link_<%= response.id %>">
  <p class="post">
    <span class="content"><%= wrap(response.post.content) %></span>
    <span class="user"><%= response.post.user.username %></span>
    <span class="timestamp">| Posted <%= time_ago_in_words(response.post.created_at) %> ago</span>
  </p>
  <p class="response">
    <span class="content"><%= wrap(response.content) %></span>
    <span class="user"><%= response.user.username %></span>
    <span class="timestamp">| Posted <%= time_ago_in_words(response.created_at) %> ago</span><br />
    <% if current_user.admin? %>
      <%= link_to "delete", response, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </p>
</li>
