<% provide(:page_title, "Respond") %>

<div class="row-fluid">
  <div class="span8 offset2">
    <div class="well darker" id="thought">
      <%= render partial: "shared/thought", object: @post %>
    </div>
    <%= render 'responder_links' %>
  </div>
</div>
<div class="row-fluid">
  <div class="span8 offset2">
    <div id="time_explanation">
      <p class="center">
        You have 24 hours to respond to this post.  <small><%= link_to "why 24 hours?", about_path %></small>
        Feel free to take your time when crafting a response.<br />
        If you need some inspiration browse some of the other <%= link_to "responses", '#' %>.
        Ready... Set... Reflect!
      </p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <%= render 'responses/form' %>
  </div>
</div>