<% provide(:page_title, "Respond") %>
<% provide(:page_description, "Tap your inner wisdom, let loose a witty repartée, give honest feedback, think critically, open minds") %>

<div class="row">
  <div class="well">
    <div class="col-md-10 col-md-offset-1">
      <div class="thought_wrapper">
        <div class="panel-focus">
          <div class="panel-post" id="show_post">
            <%= render partial: "shared/thought", object: @post %>
          </div>
          <%= render 'responder_links' %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2" id="spacer">
        <p id="form_hint">
          You have 24 hours to respond to this post.  <%= link_to "Why 24 hours?", about_path %>
          Feel free to take your time when crafting a response.  If you need some inspiration browse some of the other <%= link_to "thoughts", posts_path %>.  Ready... Set... Reflect!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <%= render partial: 'shared/form', object: @response %>
      </div>
    </div>
  </div>
</div>