<% provide(:page_title, "Respond") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well darker" id="thought">
      <%= render partial: "shared/thought", object: @post %>
    </div>
    <%= render 'responder_links' %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="time_explanation">
      <p class="center">
        You have 24 hours to respond to this post.  <small><%= link_to "why 24 hours?", about_path %></small>
        Feel free to take your time when crafting a response.  If you need some inspiration browse some of the other <%= link_to "responses", '#' %>.  Ready... Set... Reflect!
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'responses/form' %>
  </div>
</div>