<div id="post_form">
  <div class="panel-focus">
    <div class="panel-focus panel-post">
      <%= form_for(@post) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_area :content, class: "form-control", rows: "5", placeholder: "your thought..." %>
        <%= f.submit "Post", class: "btn btn-primary" %>
        <%= f.hidden_field :key %>
        <span class="pull-right">
          <% unless @post.has_image_upload? %>
            <%= link_to("Upload an image", new_image_path, :remote => true) %>
          <% else %>
            <strong>Image: </strong><%= @post.image_name %>
            | <%= link_to("remove", remove_images_path(key: params[:key])) %>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<div class="modal" id="imageModal" style="display:none;">
</div>