<% provide(:page_title, "Respond") %>

<div class="row-fluid">
  <div class="span5 offset1">
    <div class="well" id="thought">
      <%= render partial: "shared/thought", object: @post %>
    </div>
    <%= render 'posts/responder_links' %>
  </div>
  <div class="span5">
    <div class="well" id="time_explanation">
      <p>
        You have 24 hours to respond to this post.  <small><%= link_to "why 24 hours?", about_path %></small><br />
        Feel free to take your time when crafting a response.
        If you need some inspiration browse some of the other <%= link_to "responses", responses_path %>.<br />
        Ready... Set... Reflect!
      </p>
    </div>
  </div>
</div>

<%= render 'responses/form' %>