<% provide(:page_title, "Respond") %>

<div class="row-fluid">
  <div class="span5 offset1">
    <div class="well" id="thought">
      <%= render partial: "shared/thought", object: @post %>
    </div>
  </div>
  <div class="span5">
    <div class="well" id="time_explanation">
      <p>
        You have 24 hours to respond to this post.  <small><%= link_to "why 24 hours?", about_path %></small><br />
        Feel free to take your time when crafting a response.
        If you need some inspiration browse some of the other responses.<br />
        Ready... Set... Reflect!
      </p>
    </div>
  </div>
</div>

<div id="response">
  <%= form_for @response do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, placeholder: "your response..." %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit "Respond", class: "btn btn-large btn-success pull-right" %>
  <% end %>
</div>