<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <div class="container">
        <%= yield %>
        <div class="push"></div>
      </div>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
